<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOTSystem</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <script src="/static/js/register.js" rel="script"></script>
</head>
<body>
<div class="main">
    <div class="header">
        <h1><a href="/index" style="color: black">Welcome to My IotSystem!</a></h1>
        <a href="/register" class="header-right" id="btn-register">register</a>
        <a href="/login" class="header-right" id="btn-login">login</a>
        <a href="#" class="header-right" id="btn-logout">logout</a>
    </div>
    <div class="login">
        <h2>Register</h2>
        <p><b>Username</b></p>
        <input type="text" id="username">
        <p><b>Password</b></p>
        <input type="password" id="password">
        <p><b>Confirm Password</b></p>
        <input type="password" id="confirm-password">
        <p><b>Email</b></p>
        <input type="text" id="email">
        <button id="btn-submit">Register</button>
    </div>
</div>
</body>
</html>